VITE_STELLAR_CONTRACT_ID=CCTSRGNGJV6S5THNG2J6RDAPDKMCKJ32VSRYZOGFR5UENHBPVOIOQOKP
VITE_STELLAR_RPC_URL=https://soroban-testnet.stellar.org:443
VITE_STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VITE_STELLAR_TOKEN_ADDRESS=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
VITE_WORKER_URL=your-deployed webservice url